# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc

# env/secrets
.env
.env.*
!.env.example
!.env.template

# runtime
.run/
*.pid
logs/
/scipion_home/
/dump.rdb
/.backend_reload_marker

# python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# venv
.venv/
venv/
env/

# ide
.idea/
.vscode/

