scipion-pyworkflow
scipion-em
scipion-app
scipion-em-tomo

fastapi==0.116.1
uvicorn[standard]==0.33.0

celery[redis]==5.5.3
redis>=5.2.1,<6

psycopg2-binary==2.9.10
sqlalchemy==2.0.43
alembic==1.14.1
python-dotenv==1.0.1

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose==3.4.0
pydantic==1.10.13
email-validator>=2,<3

fastapi-mail==0.3.4.0

pillow==10.1.0
numpy~=1.24.4
matplotlib~=3.7.3

typer==0.20.0